<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 600px;
    flex-direction: column;
    /*align-items: center;*/
    font-family: Roboto;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 200px;
    /*margin: 0 8px 16px;*/
    /*padding: 16px;*/
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    border-right: 1px;
    border-left: 1px;
    border-color: #dadce0;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    width: 600px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    /*background-color: #1976d2;*/
    color: #4285f4;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card-header {
    /*background-color: #1976d2;*/
    color: #4285f4;
    font-weight: 600;
    font-size: 12px;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
    height: 48px;
    border-radius: 8px 8px 0px 0px;
    justify-content: center;
  }

  .divider-top {
    border: 2px solid #4285f4;
  }

  .divider-bottom {
    border: 1px solid #dadce0;
  }

  .card.card-body {
    /*background-color: #1976d2;*/
    color: #4285f4;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
    height: 138px;
  }

  .timer {
    color: #222222;
    float: left;
    text-align: left;
  }

  .timer-secs {
    font-size: 62px;
    margin-left: 24px;
    margin-top: 38px;
    margin-bottom: 38px;
    vertical-align: text-bottom;
  }

  .timer-secs-letter {
    font-size: 28px;
  }

  .timer-millsecs {
    font-size: 35px;
    margin-left: 20px;
  }

  .card.card-footer {
    /*background-color: #1976d2;*/
    color: #4285f4;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
    height: 62px;
    border-radius: 0px 0px 8px 8px;
  }

  .btn-container {
    font-size: 11px;
    font-family: Roboto (Bold);
    border-radius: 2px;
  }

  .btn {
    height: 29px;
    width: 72px;
    float: left;
    margin-left: 16px;
  }

  .btn-primary {
    color: #ffffff;
    background-color: #1a73e8;
    border: 1px;
    border-color: #dadbe0;
  }

  .btn-primary:active {
    background-color: #1b5fb9;
  }

  .btn-secondary {
    color: #1a73e8;
    background-color: #ffffff;
    border: 1px;
    border-color: #dadbe0;
  }

  .btn-secondary:active {
    background-color: #e4eefc;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

</style>

<div class="content" role="main">


  <!-- Highlight Card -->
  <div class="card card-header card-small">
    <span>{{ title }}</span>
  </div>

  <div class="divider-top"></div>

  <div class="card card-body card-small">
    <div class="timer timer-secs">{{seconds}}</div>
    <div class="timer timer-secs-letter">s</div> <div class="timer timer-millsecs">{{milliseconds | number:'2.0' }}</div>
  </div>

  <div class="divider-bottom"></div>

  <div class="card card-footer card-small">
    <div class="btn-container">
      <input class="btn btn-primary" type="button" value="{{'start' | uppercase}}" *ngIf="!started" (click)="toggle()">
      <input class="btn btn-primary" type="button" value="{{'stop' | uppercase}}" *ngIf="started" (click)="toggle()">
      <input class="btn btn-secondary" type="button" value="{{'reset' | uppercase}}" (click)="reset()">
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
